<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ща подтянем англ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    <div class="huy">
        OUR BEST RECORDER
    </div>
    <div>
        <ul class="index-ul">
            <li class="index-li"> <a href="/" class="index-a">Главная</a> </li>
            <li class="index-li"> <a href="/game" class="index-a">Игра</a> </li>
            <li class="index-li"> <a href="/marat" class="index-a">Марат гей</a> </li>
        </ul>
    </div>
    <div class="game-div-levels">
        <div class="div-label">
            <label class="game-label">Navigation</label>
        </div>
        <ul class="game-ul">
            <li class="game-li"> <a href="" class="game-a">Уровень 1</a> </li>
            <li class="game-li"> <a href="" class="game-a">Уровень 2</a> </li>
            <li class="game-li"> <a href="" class="game-a">Уровень 3</a> </li>
        </ul>
    </div>

    <div class="game-div-main">
        <p>Уровень 1</p>
    </div>
    <div class="game-div-main">
        <img src="../static/Baba.svg" width="400" height="400" alt="image description">
    </div>

    <div class="game-div-main">
        <button id="recordButton" class="button-mic"></button>
    </div>

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
