<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ща подтянем англ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="huy">
      OUR BEST RECORDER
  </div>
  <div>
      <ul class="index-ul">
          <li class="index-li"><a href="/" class="index-a">Главная</a></li>
          <li class="index-li"><a href="/game" class="index-a">Игра</a></li>
          <li class="index-li"><a href="/marat" class="index-a">Марат гей</a></li>
      </ul>
  </div>
  <div>

  </div>
</body>
</html>
