.huy {
    text-align: center;
    font-size: 64pt;
    color: aliceblue;
}

body {
    background: darkgray;
}

.index-ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    background: aliceblue; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
}

.index-li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
}

.index-a {
    font-size: 20pt;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: aliceblue; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color: black; /*меняем цвет ссылок*/
    padding:0px 30px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #F36262; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.index-a:hover {
    background: gray;/*добавляем эффект при наведении*/
}

